
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <table border="1" width="100%">
            <tr>
                <td colspan="3"><h2>Welcome to Vavuniya Campus Student MIS</h2></td>
            </tr>
            <tr>
                <td>Menu</td>
                <td>@RenderBody()</td>
                <td style="background-color:green">Online Ads</td>
            </tr>
            <tr>
                <td colspan="3"><center>2020 Allrights reserved </center></td>
            </tr>
        </table>
    </div>
</body>
</html>
